* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.topo {
    height: 50px;
    background-color: #353535;
}

.topo-interior {
    width: 1000px;
    margin: auto;
    color: #ffffff;
}

.logo {
    float: left;
    font-size: 24px;
    line-height: 50px;
}

.menu {
    float: right;
    text-transform: uppercase;
}

.menu ul, .menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #3480c1;
}

.banner {
    height: 300px;
    background-color: #3480c1;
}

.banner-interior {
    width: 1000px;
    margin: auto;
}

.banner-esquerda {
    float: left;
}

.banner-esquerda .botao {
    background-color: #ffc001;
    width: 282px;
    height: 56px;
    font-size: 20px;
    text-align: center;
    line-height: 56px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.banner-direita {
    float: right;
}

.banner-direita img {
    margin-right: 55px;
}

.frase1 {
    font-size: 48px;
    color: #ffffff;
    margin-top: 60px;
}

.frase2 {
    font-size: 20px;
    color: #ffffff;
}

.conteudo-interior {
    width: 1000px;
    margin: auto;
}

.outros-produtos {
    font-size: 20px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}

.fotos img {
    margin-left: 10px;
    margin-right: 10px;
}

.rodape {
    background-color: #3480c1;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    margin-top: 40px;
}